@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body{
    background: url('images/bg-intro-mobile.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: hsl(0, 100%, 74%);
    margin: 10px auto;
    width: 90%;
    font-family: Poppins;
    overflow-x: hidden;
    
}

header{
    position: relative;
    margin: 0px;
    padding: 0px;
    color: white;
    width: 100%;
    text-align: center;
}

#heading_topic{
    line-height: 2.5rem;
    font-size: 1.9rem;
    font-weight: bolder;
}

#heading_paragraph{
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 0px 5px 5px 5px;
}

#popUpDiv{
    box-sizing: content-box;
    position: absolute;
    width: 70%;
    right: 10%;
    left: 10%;
    top: 250px;
    display: flex;
    flex-direction: column;
    /* height: 180px; */
    height: auto;
    background-color: rgba(3, 3, 3, 0.822);
    color: aliceblue;
    padding: 15px 20px 20px 20px;
    font-size: 0.79rem;
    font-family: monospace;
    border-radius: 5px;
    text-align: left;
    z-index: 10;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    overflow: hidden;
    overflow-x: auto;
    /* justify-self: center; */
}

/* @keyframes bounce {
    70% { transform:translateY(0%); }
    80% { transform:translateY(-15%); }
    90% { transform:translateY(0%); }
    95% { transform:translateY(-7%); }
    97% { transform:translateY(0%); }
    99% { transform:translateY(-3%); }
    100% { transform:translateY(0); }
} */
#popUpDiv {
    animation: bounce 0.7s ease-in;
  }
  @keyframes bounce {
      10% { transform:translateY(0%); }
      30% { transform:translateY(-15%); }
      50% { transform:translateY(0%); }
      60% { transform:translateY(-7%); }
      80% { transform:translateY(0%); }
      90% { transform:translateY(-3%); }
      100% { transform:translateY(0); }
  }

.congratulatoryInputValue{
    visibility: visible;
}

ul{
    padding-left: 7%;
}

#popUpButton{
    position: relative;
    width: 50px;
    height: 40px;
    padding: 7px;
    align-self: flex-end;
    font-size: 0.95rem;
    font-family: monospace;
    background-color: rgb(243, 84, 110);
}

#try{
    position: relative;
    margin-top: 35px;
    margin-bottom: 20px;
    background-color: hsl(248, 32%, 49%);
    color: white;
    text-align: center;
    line-height: 20px;
    height: 60px;
    width:50%;
    border-radius: 10px;
    padding: 15px 25% 15px 25%;
    font-size: 0.9rem;
    font-weight: none;
    box-shadow: 0px 5px 3px hsl(249, 10%, 26%);
}

form{
    position: relative;
    width: 84%;
    background-color: white;
    padding: 27px 8% 27px 8%;
    border-radius: 10px;
    align-content: center;
    box-shadow: 0px 5px 3px hsl(249, 10%, 26%);
}

div{
    margin: 0px;
    padding: 0px;
}

.input_parent{
    margin-bottom: 20px;
}

.div4icons{
    display: grid;
    grid-auto-columns: auto 1fr;
    display: block;
    width: 100%; 
    height: 60px;
    border-radius: 7px;
    border: hsl(246, 25%, 77%) 2px solid;
}

.div4icons:focus-within{
    border: 2px black solid;
}

input{
    margin-left: 14px; 
    margin-top: 14px;
    margin-bottom: 14px;
    border: none;
    width: 78%;
    height: 50%;
    background-color: white; 
    font-size: 1em;   
}

input[placeholder] {
    font-weight: normal;
}


input:focus{
    outline: none;
    background-color: white;
    /* outline-color: white; */
}

i{
    position: relative;
    float: right;
    top: 30%;
    bottom: 30%;
    right: 4%;
    visibility: hidden;
}

.errorMsg{
    color: hsl(0, 100%, 74%) ;
    font-size: 0.8em;
    visibility: hidden;
    float: right;
}

button{
    position: relative;
    width: 100%;
    padding: 10px 20% 10px 20%;
    height: 60px;
    border: hsl(154, 59%, 51%) 1px solid;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 7px;
    background-color:  hsl(154, 59%, 51%);
    color: white;
    border: none;
    box-shadow: 0px 5px 10px -3px rgba(0,0,0,0.3);
    cursor: pointer;
}
button:active{
    border-color: hsl(154, 59%, 51%);
}

#form_foot{
    position: relative;
    color: hsl(246, 25%, 77%);
    text-align: center;
    font-size: 0.8rem
}

#terms{
    color: hsl(0, 100%, 74%) ;
}


footer{
    position: relative;
    bottom: 2px;
    width: 100%;
    color: white;
    text-align: center;
}


@media screen and (min-width: 650px){

    #popUpDiv{
        position: absolute;
        width: 60%;
        right: 15%;
        left: 15%;
        top: 130px;
        font-size: 0.95rem;
        height: auto;
        /* height: 200px; */
        padding-bottom: 25px;
    }

    #popUpButton{
        height: 30px;
    }

    #try{
        position: relative;
        margin-top: 35px;
        margin-bottom: 20px;
        background-color: hsl(248, 32%, 49%);
        color: white;
        text-align: center;
        line-height: 80px;
        height: 80px;
        width:50%;
        border-radius: 10px;
        padding: 0px 25% 0px 25%;
        font-size: 0.9rem;
        font-weight: none;
        box-shadow: 0px 5px 3px hsl(249, 10%, 26%);
    }
    
}

@media screen and (min-width: 850px){
    body{
        background: url('images/bg-intro-desktop.png');
        background-color: hsl(0, 100%, 74%);
        width: 100%; 
        height: 100vh; 
        overflow-y: hidden; 
    }

    #popUpDiv{
        position: absolute;
        width: 24%;
        right: 33%;
        left: 33%;
        top: 130px;
        font-size: 1em;
        /* height: 250px; */
        height: auto;
        padding-bottom: 10px;
    }

    #popUpButton{
        height: 40px;
    }

    #container{
        display: grid;
        grid-auto-columns: 50% 50%;
        grid-auto-flow: column;
    }

    header{
        position: relative;
        margin: 0px;
        padding: 180px 16% 0px 16%;
        color: white;
        width: 68%;
    }
    
    #heading_topic{
        font-size: 2.1rem;
        font-weight: bolder;
        text-align: left;
    }
    
    #heading_paragraph{
        color: white;
        text-align: justify;
        font-size: 0.8rem;
        padding: 0px;
    }

    #main_div{
        width: 80%;
        padding: 0px 10% 0px 10%;
    }

    #try{
        margin-top: 35px;
        margin-bottom: 20px;
        background-color: hsl(248, 32%, 49%);
        color: white;
        text-align: center;
        line-height: 50px;
        height: 50px;
        width:70%;
        border-radius: 10px;
        padding: 0px 15% 0px 15%;
        font-size: 0.8rem;
        font-weight: none;
        box-shadow: 0px 5px 3px hsl(249, 10%, 26%);
    }
    
    footer{
        position: relative;
        bottom: 0vh;
    }
}

@media screen and (min-width: 1350px){
    #popUpDiv{
        /* height: 195px; */
        height: auto;
        padding-bottom: 10px;
    }
}